<ion-view>
  <ion-content has-header="true" padding="true">

    <div class="card">

      <div class="item item-thumbnail-left">
        <img ng-src="http://www.fonteinkerkhaarlem.nl/intranet/photos/show_thumb/{{person.persoonid}}">
        <h2>{{person.roepnaam}} {{person.achternaam_met_tussenvoegsel}}</h2>
      </div>

      <!-- todo: format this properly -->

      <div class="item item-icon-left" ng-click="call()">
        <i class="icon ion-ios7-telephone"></i> {{normalizePhoneNr(person.mobiel)}}
      </div>
      <div class="item item-icon-left">
          <i class="icon ion-pinpoint"></i> <span>{{person.straat}}, {{person.postcode}} {{person.plaats}}</span>
      </div>
      <div class="item item-icon-left">
          <i class="icon ion-calendar"></i> {{person.geboortedatumFormatted}} ({{person.age}} jaar)
      </div>
      <div class="item item-icon-left" ng-click="email()">
          <i class="icon ion-email"></i> {{person.emailadres}}
      </div>
      <div class="item item-icon-left item-text-wrap">
          <i class="icon ion-person-stalker"></i> Kleine groep: {{person.kleine_groep}}
      </div>

      <div class="item tabs tabs-secondary tabs-icon-top ">
        <a class="tab-item" ng-click="call()">
          <i class="icon ion-ios7-telephone"></i>
          Bel mobiel
        </a>
        <a class="tab-item" ng-click="text()">
          <i class="icon ion-chatbox"></i>
          Stuur bericht
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
