<ion-view title="{{person.roepnaam}} {{person.achternaam_met_tussenvoegsel}}">
  <ion-content has-header="true" padding="true">

    <div class="list card">

      <div class="item item-avatar">
        <img src="http://www.fonteinkerkhaarlem.nl/intranet/photos/show_thumb/{{person.persoonid}}">
        <h2>{{person.roepnaam}} {{person.achternaam_met_tussenvoegsel}}</h2>
        <p>{{person.geboortedatum}}</p>
      </div>
      
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="tel:{{persoon.mobiel}}">
          <i class="icon ion-ios7-telephone"></i>
          Bel mobiel
        </a>
        <a class="tab-item" href="sms:{{persoon.mobiel}}">
          <i class="icon ion-chatbox"></i>
          Stuur bericht
        </a>
        <a class="tab-item" href="callto:{{persoon.mobiel}}">
          <i class="icon ion-social-skype"></i>
          Bel met Skype
        </a>
      </div>

    </div>


    {{person.roepnaam}} {{person.achternaam_met_tussenvoegsel}}
  </ion-content>
</ion-view>
