<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.geertvanderploeg.kiekeboek.kiekeboekionic"
        version="0.0.3-alpha"
        android-versionCode="3"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Kiekeboek</name>
  <description>
    Kiekeboek van de Fonteinkerk, Haarlem
  </description>
  <author email="geertpl@gmail.com" href="http://www.geertvanderploeg.com">
    Geert van der Ploeg
  </author>
  <content src="index.html"/>
  <access origin="http://www.fonteinkerkhaarlem.nl"/>
  <!-- for weinre -->
  <access origin="http://192.168.50.63:8080"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="InAppBrowser">
      <param name="ios-package" value="CDVInAppBrowser" />
  </feature>
  
  <platform name="android">
    <icon src="icons/android/mdpi.png" density="mdpi" />
    <icon src="icons/android/ldpi.png" density="ldpi" />
    <icon src="icons/android/hdpi.png" density="hdpi" />
    <icon src="icons/android/xhdpi.png" density="xhdpi" />
  </platform>

  <!--<platform name="ios">-->
    <!--&lt;!&ndash; iOS 7.0+ &ndash;&gt;-->
    <!--&lt;!&ndash; iPhone / iPod Touch &ndash;&gt;-->
    <!--<icon src="icons/ios/icon-60.png" width="60" height="60" />-->
    <!--<icon src="icons/ios/icon-60@2x.png" width="120" height="120" />-->

    <!--&lt;!&ndash; iPad &ndash;&gt;-->
    <!--<icon src="icons/ios/icon-76.png" width="76" height="76" />-->
    <!--<icon src="icons/ios/icon-76@2x.png" width="152" height="152" />-->

    <!--&lt;!&ndash; iOS 6.1 &ndash;&gt;-->
    <!--&lt;!&ndash; Spotlight Icon &ndash;&gt;-->
    <!--<icon src="icons/ios/icon-40.png" width="40" height="40" />-->
    <!--<icon src="icons/ios/icon-40@2x.png" width="80" height="80" />-->

    <!--&lt;!&ndash; iPhone / iPod Touch &ndash;&gt;-->
    <!--<icon src="icons/ios/icon.png" width="57" height="57" />-->
    <!--<icon src="icons/ios/icon@2x.png" width="114" height="114" />-->

    <!--&lt;!&ndash; iPad &ndash;&gt;-->
    <!--<icon src="icons/ios/icon-72.png" width="72" height="72" />-->
    <!--<icon src="icons/ios/icon-72@2x.png" width="144" height="144" />-->

    <!--&lt;!&ndash; iPhone Spotlight and Settings Icon &ndash;&gt;-->
    <!--<icon src="icons/ios/icon-small.png" width="29" height="29" />-->
    <!--<icon src="icons/ios/icon-small@2x.png" width="58" height="58" />-->

    <!--&lt;!&ndash; iPad Spotlight and Settings Icon &ndash;&gt;-->
    <!--<icon src="icons/ios/icon-50.png" width="50" height="50" />-->
    <!--<icon src="icons/ios/icon-50@2x.png" width="100" height="100" />-->
  <!--</platform>-->
</widget>