<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.geertvanderploeg.kiekeboek.kiekeboekionic" version="0.0.4-alpha" android-versionCode="3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Kiekeboek</name>
  <description>
    Kiekeboek van de Fonteinkerk, Haarlem
  </description>
  <author email="geertpl@gmail.com" href="http://www.geertvanderploeg.com">
    Geert van der Ploeg
  </author>
  <content src="index.html"/>
  <access origin="http://www.fonteinkerkhaarlem.nl"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser"/>
  </feature>
  <platform name="android">
    <icon src="icons/android/mdpi.png" density="mdpi"/>
    <icon src="icons/android/ldpi.png" density="ldpi"/>
    <icon src="icons/android/hdpi.png" density="hdpi"/>
    <icon src="icons/android/xhdpi.png" density="xhdpi"/>
  </platform>
</widget>